<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Title</title>
</head>
<body>
	<h1>Hello:</h1>
	<h2>
		<span th:text="${name1}"></span>
	</h2>
	<h2>
		<span th:text="${bookTitle1}"></span>
	</h2>
	<a href="/toregister" class="href">注册</a>
	<!-- target="_blank" -->
	<a href="/tologin" class="href">登录</a>
	<h2>
		<span th:text="${message}"></span>
	</h2>
	<span th:if="${message} == '登录成功'"> <a href="/list" class="href" >查看列表</a>
	<span th:if="${isList} == 'true'">
		<ol>
			<li>List循环：
				<table border="1">
					<tr>
						<th>操作</th>
						<th>id</th>
						<th>name</th>
						<th>age</th>
						<th>状态变量：index</th>
						<th>状态变量：count</th>
						<th>状态变量：size</th>
						<th>状态变量：current.name</th>
						<th>状态变量：even</th>
						<th>状态变量：odd</th>
						<th>状态变量：first</th>
						<th>状态变量：last</th>
					</tr>
					<tr th:each="user,userStat : ${userList}">
						<td><a href="#">修改</a><a href="#">删除</a></td>
						<td th:text="${user.id}">Onions</td>
						<td th:text="${user.name}">test@test.com.cn</td>
						<td th:text="${user.age}">yes</td>
						<th th:text="${userStat.index}">状态变量：index</th>
						<th th:text="${userStat.count}">状态变量：count</th>
						<th th:text="${userStat.size}">状态变量：size</th>
						<th th:text="${userStat.current.name}">状态变量：current</th>
						<th th:text="${userStat.even}">状态变量：even****</th>
						<th th:text="${userStat.odd}">状态变量：odd</th>
						<th th:text="${userStat.first}">状态变量：first</th>
						<th th:text="${userStat.last}">状态变量：last</th>
					</tr>
				</table>
			</li>
		
		</ol>

	</span>
	</span>

</body>
</html>